---
import { MapPin, Rocket } from "lucide-react";
---

<section id="lokasi" class="md:px-20 py-16 md:py-24 bg-white">
	<div class="container mx-auto px-3 flex flex-col items-center">
		<h2
			class="font-sans text-3xl md:text-5xl font-bold text-center text-gray-900 mb-6"
		>
			Area Layanan Kami
		</h2>
		<p
			class="font-mono text-lg text-gray-500 text-center mb-10 mx-auto max-w-2xl"
		>
			Sebagai layanan <span class="text-primary font-bold"
				>Ojek Online Mahasiswa</span
			> saat
			ini kami baru memfokuskan layanan di:
		</p>

		<div
			class="flex flex-col items-center gap-8 md:gap-12 w-full max-w-4xl"
		>
			<div
				class="bg-secondary rounded-3xl p-6 md:p-10 w-fit border border-gray-200"
			>
				<div
					class="flex flex-col md:flex-row items-center justify-between gap-8"
				>
					<div
						class="shrink-0 w-20 h-20 md:w-28 md:h-28 rounded-full bg-white flex items-center justify-center border-4 border-primary/20 shadow-sm"
					>
						<MapPin
							className="w-10 h-10 md:w-14 md:h-14 text-primary"
							stroke-width={1.5}
						/>
					</div>

					<div class="grow text-center md:text-left">
						<h3
							class="font-sans text-2xl md:text-5xl font-bold text-gray-900 mb-2"
						>
							UIN Suska Riau
						</h3>
						<p
							class="font-mono text-gray-500 text-base md:text-xl bg-white px-4 py-1 rounded-md inline-block border border-gray-100"
						>
							(dan area strategis sekitarnya)
						</p>
					</div>
				</div>
			</div>

			<div
				class="w-full bg-primary/5 border border-primary/20 rounded-xl p-6 flex flex-col md:flex-row items-center gap-4 md:gap-6 text-center md:text-left"
			>
				<div
					class="shrink-0 p-3 bg-white rounded-full border border-primary/10 shadow-sm"
				>
					<Rocket className="w-6 h-6 md:w-8 md:h-8 text-primary" />
				</div>
				<p class="font-mono text-base md:text-lg text-gray-600">
					<span class="font-bold text-gray-900 block md:inline"
						>Gak sabar pengen ada di-Kampusmu?</span
					>
					Nantikan kehadiran kami segera yak!
				</p>
			</div>
		</div>
	</div>
</section>
