---
import "@fontsource/geist-mono";
import "@fontsource/space-grotesk";
import "../styles/globals.css";

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = "Layanan ojek online dari mahasiswa, oleh mahasiswa, untuk mahasiswa.",
} = Astro.props;
---

<!doctype html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/png"
			href="/globals/saku-logo-512x512.png"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title} | SaKu</title>
	</head>
	<body>
		<slot />
	</body>
</html>
